:root {
  --font-colors: rgb(5, 15, 58)
}

body {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 16px;
  line-height: 1;
  background-image: url(../images/background.jpg);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: var(--font-colors);
  padding: 5px;
}

.jumbotron {
  text-align: center;
  background-color: rgba(248, 248, 239, 0.74);
  color: var(--font-colors);
  padding: 1rem 1rem;
}

#eventContainer {
  display: flex;
  flex-direction: column;
}
.timeContainers {
  justify-content: space-between;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  border-style: double;
  border-color: var(--font-colors);
}
.timeDisplay {
  padding: 0 2rem;
  padding-top: 1rem;
  font-size: large;
  font-weight: bold;
}
.planDisplay {
  width: 75%;
}
.past {
  background-color: #e8ebc0be;
}

.present {
  background-color: #fdfdfdbb;
}

.future {
  background-color: #d4712faf;
}
.refreshButton {
  width: 20rem;
  font-size: medium;
  font-weight:bold;
  align-self: center;
  background-color: #fdfdfdbb
}
.saveButton {
  background: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 10%;
  background-size: contain;
  border: none;
  padding: 0;
  margin: 0;
}

.saveButton i:hover {
  transition: all .3s ease-in-out;
}
